@model BudgetPlanner.Models.Category

@{
    ViewBag.Title = "Category Details";
}
<link href="~/Content/Block/main.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <h4>
                                Category
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <br />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Household.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Household.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                        </dl>
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
