@model IEnumerable<BudgetPlanner.Models.Category>

@{
    ViewBag.Title = "Category Index";
}
@*<link href="~/Content/Block/main.css" rel="stylesheet" />

<div class="container">*@
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="btn pull-left"><a href="@Url.Action("Create", "Categories")" class="glyphicon glyphicon-plus"> </a></div>
                    <div class="text-center">
                        <h4>
                           Categories
                        </h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit","Categories",new{id=item.Id})" class="glyphicon glyphicon-pencil"> </a>
                                    @*<a href="@Url.Action("Details","Categories",new{id=item.Id})" class="glyphicon glyphicon-list"> </a>*@
                                    <a href="@Url.Action("Delete","Categories",new{id=item.Id})" class="glyphicon glyphicon-trash"> </a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
@*</div>*@

