@model BudgetPlanner.Models.Transaction

@{
    ViewBag.Title = "Delete Transaction";
}

<div class="container">
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-12">
                        <div class="col-md-9">
                            <h4>
                                ARE YOU SURE YOU WANT TO CONTINUE?
                            </h4>
                            <p>
                                You have requested to delete this transaction. The Balance will be reversed by the amount of this transaction.
                                If the transaction has been reconciled, then the Reconciled Balance will also be reversed.
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Date)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Date)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Amount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Amount)
                            </dd>
                            <dt>
                                @Html.Label("Category")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Category.Name)
                            </dd>
                            <dt>
                                @Html.Label("Reconciled")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Reconciled)
                            </dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" />
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        @Html.ActionLink("Back to List", "Index", new { acctId = ViewBag.AccountId })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
