@model BudgetPlanner.Models.BudgetAccount

@{
    ViewBag.Title = "Account Details";
}

<h2>Details</h2>

<div>
    <h4>BudgetAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReconciledBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReconciledBalance)
        </dd>

    </dl>
</div>
<p>
    <div>
        <div class="btn pull-left"><a href="@Url.Action("Edit", "BudgetAccounts", new { id = Model.Id })" class="glyphicon glyphicon-pencil" style="font-size: 16px"> </a></div>
    </div>
    @@*Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
<p>
    <div class="btn pull-left"><a href="@Url.Action("Index", "BudgetAccounts")" class="glyphicon glyphicon-hand-left" style="font-size: 16px"> </a></div>
</p>
