@model BudgetPlanner.Models.BudgetItem

@{
    ViewBag.Title = "Create Budget Item";
}

@*<div class="container">*@
    <br />
    <br />
    <div class="col-md-12">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <h4>
                                New Budget Item
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post,
                            new { encType = "multipart/form-data", name = "myform" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.Label("Category")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.Label("Description")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.Label("Amount")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.Label("Frequency")
                                    </div>
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Frequency)
                                        @Html.ValidationMessageFor(model => model.Frequency, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
@*</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
