<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="/Content/Block/bootstrap-block.css" rel="stylesheet" />
    <link href="/Content/Block/login.css" rel="stylesheet" />

    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* Below line will be link for Dashboard once Dashboard is built*@
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul id="active" class="nav navbar-nav">
                    <li>@if (ViewBag.Title.Contains("Household"))
                    { <text> class="selected" </text>   }@Html.ActionLink("Household", "Index", "Household")</li>
                    <li>@if (ViewBag.Title.Contains("Account"))
                    { <text> class="selected" </text>   }@Html.ActionLink("Accounts", "Index", "BudgetAccounts")</li>
                    <li>@if (ViewBag.Title.Contains("Budget"))
                    { <text> class="selected" </text>   }@Html.ActionLink("Budget", "Index", "BudgetItems")</li>
                    <li>@if (ViewBag.Title.Contains("Category"))
                    { <text> class="selected" </text>   }@Html.ActionLink("Categories", "Index", "Categories")</li>
                    <li>@if (ViewBag.Title.Contains("Transaction"))
                    { <text> class="selected" </text>   }@Html.ActionLink("Transactions", "Index", "Transactions")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
