@using BudgetPlanner.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">


    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">


    @Styles.Render("~/Content/css")    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Chart")

    @*<script src="~/Scripts/jquery-2.1.3.min.js"></script>*@
    <link href="/Content/Block/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Block/main.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsInHousehold())
                    {
                        <li>
                            <a href="@Url.Action("Index","Home")" @if (ViewBag.Title.Contains("Dashboard")) { <text> class="active" </text>   }>Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Display","Households")" @if (ViewBag.Title.Contains("Household")) { <text> class="active" </text>  }>Household</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","BudgetAccounts")" @if (ViewBag.Title.Contains("Account")) { <text> class="active" </text>  }>Accounts</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","BudgetItems")" @if (ViewBag.Title.Contains("Budget")) { <text> class="active" </text>  }>Budget</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Categories")" @if (ViewBag.Title.Contains("Category")) { <text> class="active" </text>  }>Categories</a>
                        </li>
                    }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <div class="container">
        <div id=" footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    &copy; @DateTime.Now.Year - Budget Planner by Tom Setliff
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /footerwrap -->
    </div>
    
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
